:root {
    --pad: max(20px, 4vmin);
    --c-bg: rgb(46, 46, 46);
    --c-bg-dark: rgb(23, 23, 23);
    --c-white: rgb(214, 214, 214);
    --c-purple: rgb(158, 134, 200);
    --c-yellow: rgb(229, 181, 103);
    --c-green: rgb(180, 210, 115);
    --vw: 19.2px;
    --vh: 3.72px;
    --vmax: 19.2px;
    --vmin: 3.72px;
}

body{
    background-color:#171717;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: black;
    color: lime;
    font-family: monospace;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
  }
  h1 {
    font-size: 3rem;
  }